*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  padding: 10px;
  overflow: hidden;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
  background: #20484f;
}
.clear{
  width: 100%;
}
.clear::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background: linear-gradient(to bottom, #86f9ea 0%,#00bbcc 100%);
  overflow-y: auto;
}
.wrapper{
  position: relative;
  height: calc(100% - 80px);
  min-width: 650px;
  margin-top: 80px;
  padding: 20px;
  text-align: center;
}
.page__title{
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 20px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background: #00bbcc;
  color: #fff;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

.inserisci-vendita{
  width: calc(100% - 10px);
  margin: 0 auto 10px auto;
  padding: 15px;
  background: #d1d1d1;
  border-radius: 5px;
  background: linear-gradient(to top, rgba(83, 186, 203, 0.8) 0%,rgba(255,255,255,0) 100%);
}
.inserisci-vendita__title{
  text-transform: uppercase;
  margin-bottom: 10px;
}
.inserisci-vendita__button{
  font-size: 16px;
  padding: 0 5px;
  line-height: 30px;
}
.inserisci-vendita__giorno,
.inserisci-vendita__agente,
.inserisci-vendita__mese,
.inserisci-vendita__anno,
.inserisci-vendita__valore{
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}

.chart__close{
  display: none;
}
.chart__close.active{
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}
.chart__mensile,
.chart__peragente,
.chart__perquarter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  float: left;
  width: calc(50% - 10px);
  margin: 10px 5px;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}
.chart__mensile{
    width: calc(100% - 10px);
}
.chart__canvas{
  height: 50%;
}
@media screen and (max-width: 1220px) {
  .chart__mensile,
  .chart__peragente,
  .chart__perquarter{
    width: calc(100% - 10px);
    margin: 10px 5px;
    padding: 20px;
    border: 1px solid 00bbcc;
    border-radius: 5px;
    background: #f1f1f1;
  }
}
.chart__title{
  text-transform: uppercase;
}
.table-for-chart{
  margin-top: 20px;
}
.chart__table.table{
  width: 100%;
  font-size: 12px;
  border-spacing: 0;
  border-collapse: collapse;
}
.chart__table .table__caption{
  font-size: 150%;
  font-weight: bold;
  background-color: #00bbcc
}
.chart__table .table__tr{
  border-bottom: 1px solid #00bbcc
}
.chart__table .table__td,
.chart__table .table__th{
  border-left: 1px solid #00bbcc;
  border-right: 1px solid #00bbcc;
}
.chart__table .table__td{
  background: #fff;
}
