*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}
.wrapper{
  padding: 20px;
}
.page__title{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.fatturato__mensile,
.fatturato__peragente{
  float: left;
  width: calc(50% - 10px);
  margin: 0 5px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  background: #f1f1f1;
}

.fatturato__title{
  text-transform: uppercase;
}
