*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

.wrapper{
  min-width: 1024px;
  padding: 20px;
  text-align: center;
}
.page__title{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.chart__mensile,
.chart__peragente,
.chart__perquarter{
  float: left;
  width: calc(50% - 10px);
  margin: 10px 5px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  background: #f1f1f1;
}

.chart__title{
  text-transform: uppercase;
}

.inserisci-vendita{
  width: calc(100% - 10px);
  margin: 0 auto;
  padding: 15px;
  background: #d1d1d1;
  border: 1px solid grey;
  border-radius: 5px;
}


.inserisci-vendita__title{
  text-transform: uppercase;
  margin-bottom: 10px;
}

.inserisci-vendita__button{
  font-size: 16px;
  padding: 0 5px;
  line-height: 30px;
}

.inserisci-vendita__giorno,
.inserisci-vendita__agente,
.inserisci-vendita__mese,
.inserisci-vendita__anno,
.inserisci-vendita__valore{
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}

.table-for-chart table{
  width: 100%;
  font-size: 12px;
}
